.App {
    background-color: #899599;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
}

.btn-inc {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btn-inc:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.btn-inc:active {
	position:relative;
	top:1px;
}

.string-H {
    background-color: blue;
    text-decoration: line-through;
}